<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

	<div>
		<table>
			<thead>
				<tr>
					<th scope="col">예약번호</th>
					<th scope="col">성인수</th>
					<th scope="col">아이 수</th>
					<th scope="col">예약 시작 시간</th>
					<th scope="col">예약 종료 시간</th>
					<th scope="col">유저이름</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="res : ${reservation}">
					<td th:text="${res.rsrvid}"></td>
					<td th:text="${res.adult_num}"></td>
					<td th:text="${res.child_num}"></td>
					<td th:text="${res.rstart}"></td>
					<td th:text="${res.rend}"></td>
					<td th:text="${res.user.username}"></td>
				</tr>

			</tbody>
		</table>
	</div>

</body>
</html>