<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div>
		<table>
			<thead>
				<tr>
					<th scope="col">회사id</th>
					<th scope="col">회사명</th>
					<th scope="col">사업자명</th>
					<th scope="col">위치</th>
					<th scope="col">내용</th>
					<th scope="col">사업장 전화번호</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="res : ${companyList}">
					<td th:text="${res.sectionid}"></td>
					<td><a th:text="${res.sectionname}"
						th:href="@{/user_s_list}"></a></td>
					<td th:text="${res.price}"></td>
					<td th:text="${res.maxnum_adult}"></td>
					<td th:text="${res.maxnum_child}"></td>
					
				</tr>

			</tbody>
		</table>
	</div>
</body>
</html>