<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>카페조회</title>
</head>
<body>
<h1>키즈카페 리스트</h1>
<button type="button" onclick="location.href='/main' ">메인</button>
        <div>
        	<table>
        		<thead>
        			<tr>
        				<th scope="col">#</th>
        				<th scope="col">사업자</th>
        				<th scope="col">사진</th>
        				<th scope="col">회사번호</th>
        				<th scope="col">회사이름</th>
        				<th scope="col">내용</th>
        				<th scope="col">주소</th>
        				<th scope="col">테마</th>
        				<th scope="col">유저</th>
        			</tr>
        		</thead>
        		<tbody>
        			<tr th:each="company:${companyList}">
        				<td th:text="${company.companyid}"></td>
        				<td th:text="${company.businessname}"></td>
        						
        				<td><a id="companyname" href="/"><img th:src="@{../image/}+${company.com_imgpath}"height="180" width="180"></a></td>			
        				<td th:text="${company.com_tel}"></td>
        				<td th:text="${company.companyname}"></td>
        				<td th:text="${company.content}"></td>
        				<td th:text="${company.location}"></td>
        				<td th:text="${company.theme}"></td>
        				<td th:text="${company.user.username}"></td>
        				
        				<!-- <td><a th:href="'/board/view?id='+${board.id}" th:text="${board.title}"></a></td> -->
        				<!-- 링크의 주소를 절대경로를 넣어서 보는 페이지로 연결되게한다. -->   				
        			</tr>
        		</tbody>
        	</table>
        </div>
        <nav style="text-align:center;">
        	<ul class="pagination" 
        	th:with="startNumber=${T(java.lang.Math).floor(companyList.number/5)}*5+1,
        	endNumber=(${companyList.totalPages})>${startNumber}+4?${startNumber}+4:${companyList.totalPages}">
        		<li th:style="${companyList.first}?'display:none'">
		   			<a th:href="@{/list(page=${companyList.number})}">&lsaquo;</a>
		   		</li>
		   		
		   		<li th:each="page:${#numbers.sequence(startNumber,endNumber)}"
		   		th:class="(${page}==${companyList.number}+1)?'active'">
		   			<a th:href="@{/list(page=${page})}" th:text="${page}"></a>
		   		</li>
		   		
		   		<li th:style="${companyList.last}?'display:none'">
		   			<a th:href="@{/list(page=${companyList.number}+2)}">&rsaquo;</a>
		   		</li>
		   		
		   		<li><a th:href="@{/list(page=${companyList.totalPages})}">&raquo;</a></li>
        	</ul>
        </nav>
        
<script >

</script>
</body>
</html>